{% load static tailwind_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
  </head>

  <body class="bg-[#042331]">
    <div class="flex flex-row-2 min-h-screen w-full">
      <div class="flex flex-col">
        <button
          data-collapse-toggle="navbar-default"
          type="button"
          class="inline-flex justify-start mr-auto items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div
          class="w-48 sm:px-6 lg:px-2 text-white mt-4 lg:mt-8 hidden lg:flex"
        >
          <table class="w-full">
            <tr class="border-b border-black hover:bg-[#063146]">
              <th class="py-4 text-[16px]">
                <a href="#" class="">Library System</a>
              </th>
            </tr>

            <tr class="border-b border-black hover:bg-[#063146]">
              <td class="py-4 text-[14px] px-4">
                <a class="inline-flex" href="/dashboard/">
                  <svg
                    class="w-4 h-4 inline-flex"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3.75 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 013.75 9.375v-4.5zM3.75 14.625c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5a1.125 1.125 0 01-1.125-1.125v-4.5zM13.5 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0113.5 9.375v-4.5z"
                    ></path>
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6.75 6.75h.75v.75h-.75v-.75zM6.75 16.5h.75v.75h-.75v-.75zM16.5 6.75h.75v.75h-.75v-.75zM13.5 13.5h.75v.75h-.75v-.75zM13.5 19.5h.75v.75h-.75v-.75zM19.5 13.5h.75v.75h-.75v-.75zM19.5 19.5h.75v.75h-.75v-.75zM16.5 16.5h.75v.75h-.75v-.75z"
                    ></path>
                  </svg>
                  Dashboard</a
                >
              </td>
            </tr>
            <tr class="border-b border-black hover:bg-[#063146]">
              <td class="py-4 text-[14px] px-4">
                <a class="inline-flex" href="/addbook/">
                  <svg
                    class="w-4 h-4 inline-flex"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25"
                    ></path>
                  </svg>
                  Add Book</a
                >
              </td>
            </tr>
            <tr class="border-b border-black hover:bg-[#063146]">
              <td class="py-4 text-[14px] px-2 lg:px-4">
                <a class="inline-flex" href="/addstudent/">
                  <svg
                    class="w-4 h-4 inline-flex"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-person-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                    />
                  </svg>
                  Add Student</a
                >
              </td>
            </tr>
            <tr class="border-b border-black hover:bg-[#063146]">
              <td class="py-4 text-[14px] px-4">
                <a class="inline-flex" href="/issuebook/">
                  <svg
                    class="w-4 h-4 inline-flex"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13"
                    ></path>
                  </svg>
                  Issue Book</a
                >
              </td>
            </tr>

            <tr class="border-b border-black hover:bg-[#063146]">
              <td class="py-4 text-[14px] px-2 lg:px-4">
                <a class="inline-flex" href="/viewstudent/">
                  <svg
                    class="w-4 h-4 inline-flex"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13"
                    ></path>
                  </svg>
                  View Student</a
                >
              </td>
            </tr>

            <tr class="border-b border-black hover:bg-[#063146]">
              <td class="py-4 text-[14px] px-2 lg:px-4">
                <a class="inline-flex" href="/viewissuedbook/">
                  <svg
                    class="w-4 h-4 inline-flex"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13"
                    ></path>
                  </svg>
                  View Issued Book</a
                >
              </td>
            </tr>

            <tr class="border-b border-black hover:bg-[#063146]">
              <td class="py-4 text-[14px] px-2 lg:px-4">
                <a href="/returnbook/">
                  <svg
                    class="w-4 h-4 inline-flex"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M7.5 21L3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5"
                    ></path>
                  </svg>
                  Return Book</a
                >
              </td>
            </tr>
            <tr class="border-b border-black hover:bg-[#063146]">
              <td class="py-4 text-[14px] px-4 lg:px-4">
                <a class="inline-flex" href="/signout/">
                  <svg
                    class="w-4 h-4 inline-flex"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-person-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                    />
                  </svg>
                  Logout</a
                >
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="min-h-screen w-full bg-white">
        <table class="flex justify-center w-full mt-4">
            <tr class="flex flex-row gap-10 bg-[#0000FF] w-full text-end border-black text-white">
                <th class="pl-4 pr-2 h-full pt-6 self-end text-[10px] border-r border-black">Student Name</th>
                <th class="pl-4 pr-2 h-full pt-6 self-end text-[10px] border-r border-black">Student Id</th>
                <th class="pl-4 pr-2 h-full pt-6 self-end text-[10px] border-r border-black">Book Name</th>
                <th class="pl-6 pr-2 h-full pt-6 self-end text-[10px] border-r border-black">Subject</th>
                <th class="pl-4 pr-2 h-full pt-6 self-end text-[10px] border-r border-black">Issued Date</th>
                <th class="pl-4 pr-2 h-full pt-6 self-end text-[10px] border-r border-black">Return Date</th>
                <th class="pl-4 pr-2 h-full pt-6 self-end text-[10px] border-r border-black">Fine</th>
            </tr>

           
            {% for info in li %}

            <tr class="flex flex-row w-full text-[10px] pb-4 pt-2 border-b border-black text-black">
                <td class="w-full">{{info.0}}</td>
                <td class="w-full">{{info.1}}</td>
                <td class="w-full">{{info.2}}</td>
                <td class="w-full">{{info.3}}</td>
                <td class="w-full">{{info.4}}</td>
                <td class="w-full">{{info.5}}</td>
                <td class="self-end">{{info.6}}</td>   
            </tr>

            {% endfor %}
            
        </table>
      </div>

    </div>
  </body>
</html>
